.header__lang-link{
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-decoration: none;
  color: #ffffff;
}

.header__lang-link:hover{
  color: #d6d6d6;
  transition: color .3s;
}

@media screen and (max-width: 450px) {
  .header__lang-link{
    font-size: 18px;
    line-height: 20px;
  }
}
