.place__url-heading{
  padding-bottom: 12px;
  font-family: Inter-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}
