.header__section{
  max-width: 1280px;
  min-height: 52px;
  padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .header__section{
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header__section{
    padding: 16px 16px;
    padding-bottom: 0;
  }
}
