.cover__subtitle{
  position: relative;
  z-index: 1;
  max-width: 360px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding-top: 32px;
}

@media screen and (max-width: 500px) {
  .cover__subtitle{
    font-size: 14px;
    line-height: 16px;
  }
}
