.page__section_type_footer{
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 768px) {
  .page__section_type_footer{
    padding: 0 24px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .page__section_type_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
