.footer__link{
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  margin-right: 18px;
}

.footer__link:last-of-type{
  margin-right: 0;
}

.footer__link:hover{
  color: #d6d6d6;
  transition: color .3s;
}


@media screen and (max-width: 510px) {
  .footer__link{
    font-size: 24px;
    line-height: 24px;
  }

}

