.footer__item{
  margin-right: 18px;
}

.footer__item:last-of-type{
  margin-right: 0;
}

@media screen and (max-width: 510px) {
  .footer__item{
    padding-bottom: 32px;
  }

  .footer__item:last-of-type{
    padding-bottom: 0;
  }
}
