.place{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px 40px;
  padding-bottom: 32px;
}

.place:last-of-type{
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place{
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place{
    grid-gap: 48px 28px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 660px) {
  .place{
    grid-template-columns: 1fr;
    grid-gap: 32px;
    padding-bottom: 50px;
  }
}
