.cover__item{
  width: 100%;
  min-height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0 auto;
  text-decoration: none;
}

.cover__item:before{
  content: '';
  display: block;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity .3s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cover__item:hover:before{
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .cover__item{
    min-height: 740px;
  }
}

@media screen and (max-width: 1279px) {
  .cover__item{
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__item{
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__item{
    min-height: 320px;
  }
}

@media screen and (max-width: 320px) {
  .cover__item{
    min-height: 200px;
  }
}
